* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
}

main {
  flex: 1;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p a {
  color: #3498db;
  text-decoration: none;
}

#hero {
  background-image: url("image/mainPic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #030307;
  position: relative;
  background-attachment: fixed; /* Parallax effect */
}

#hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 75%);
  background-size: 50px 50px;
  z-index: 1;
}

#hero-section {
  z-index: 2;
  position: relative;
}

#hero-section h2 {
  margin-bottom: 30px;
  color: #f1c40f; /* Bright matching color */
  font-size: 48px; /* Increase font size */
  font-weight: bold; /* Very bold */
}

.vision-statement {
  font-size: 24px; /* Increase font size */
  max-width: 800px;
  margin: 0 auto;
  color: #ecf0f1; /* Bright color */
  background-color: rgba(44, 62, 80, 0.8); /* Blocking color matching the body */
  padding: 20px;
  border-radius: 5px;
}

#contact-form-section {
  padding: 20px;
}

#contact-form-section h2 {
  margin-bottom: 10px;
}

#contact-form {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 5px;
}

#contact-form input,
#contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  resize: vertical;
}

#contact-form input[type="submit"] {
  background-color: #3498db;
  color: #ecf0f1;
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

.form-div {
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  padding: 20px;
  border-radius: 5px;
}

/*Start of privacy page styles*/
.privacy-div {
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  padding: 20px;
  border-radius: 5px;
}

#privacy-section {
  padding: 20px;
}

#privacy-section h2 {
  margin-bottom: 10px;
}

/*End of privacy page styles*/

/*Start of Terms page styles*/
.term-div {
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  padding: 20px;
  border-radius: 5px;
}

#term-section {
  padding: 20px;
}

#term-section h2 {
  margin-bottom: 10px;
}

/*End of Terms page styles*/

/*Start of Job Listing page styles*/
.joblist-div {
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  padding: 20px;
  border-radius: 5px;
}

#joblist-section {
  padding: 20px;
}

#joblist-section h2 {
  margin-bottom: 10px;
}

.job-listing {
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  padding: 20px;
  border-radius: 15px;
  background-color: #ecf0f1;
}

.learn-more {
  text-align: right;
}

/*End of Job Listing page styles*/
