body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: relative;
    text-align: center;
    color: white;
    height: 34vh;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 20px;
}

.blue-box {
    margin-top: 25px;
    width: ;10px
    font: size 20px;;
}

.blue-box a {
    background-color: rgb(6, 106, 247);
    color: white;
    padding: 10px;
    text-decoration:wavy
}

.section-body {
    display: flex;
    justify-content: space-around;
    padding: 35px;
    flex: 1;
   background-color: rgba(235, 243, 243, 0.6);
}

.feature-box {
    width: 20%;
    height: 20%;
    padding: 40px;
    background-color: #fcfafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    aspect-ratio: 1; /* Ensures a perfect square */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-title {
    font-weight: bold;
    font-size: 30px; /* Increased font size */
}

.feature-description {
    font-size: 25px; /* Reduced font size */
    color: #f10acad1;
}

footer {
    background-color: #040202d1;
    text-align: center;
    padding: 10px;
    color: #faf9f9;
    margin-top: auto; /* Push footer to the bottom */
    font-display:unset;
    font-size: larger;
    border-top: 2px solid white;
    width:100%
    flex-shrink: 0;
}